<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>ABC University Course Registration System</title>
</head>
<body>
    <table>
        <tr>
            <th colspan="2">Course Code</th>
            <th>Course Title</th>
        </tr>
    </table>
</body>
</html>